.container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
            max-width: 480px;
        }  
    @media screen and (min-width: 768px) {
            max-width: 768px;
        }
    @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }
}
