.gallery {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  & li {
    flex-basis: calc((100% - 5 * 16px) / 6);
    border-radius: 16px;
    overflow: hidden;
  }

  & li:hover,
  & li:focus {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  }
}
