.gallery {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  & li {
   width: 240px;
    @include mobile {
      flex-basis: calc((100% - 1 * 16px) / 2);
    }

    @include tablet {
      flex-basis: calc((100% - 2 * 16px) / 3);
    }
    @include desktop {
      flex-basis: calc((100% - 5 * 16px) / 6);
    }
    border-radius: 16px;
    overflow: hidden;
  }

  & li:hover,
  & li:focus {
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  }
}
