.header__container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header__text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: #f07f2e;
  flex-wrap: wrap;
}

.header__navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__navigation--list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  @include tablet {
    gap: 40px;
    flex-direction: row;
  }

  & a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.5px;
    color: #2c2c2c;
  }

  & a:hover,
  & a:focus {
    color: #f07f2e;
  }
}
