.hero {
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-color: #F07F2E;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/picture1.jpg);
    height: 480px;
    border-radius: 16px;
    padding-left: 28px;
    padding-bottom: 52px;
}

.hero__information{
    padding: 24px;
    color: #FFFFFF;
    width: 430px;
    height: 190px;
    background-color: #0F3F3C;
    border-radius: 16px;
}

.hero__information--title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 1.25px;
    margin-bottom: 8px;
}

.hero__information--text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}