.hero {
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-color: #f07f2e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/picture1-1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/picture1.jpg);
  }
  min-height: 200px;
  border-radius: 16px;
  padding-left: 18px;
  padding-bottom: 20px;
  @include tablet {
    min-height: 480px;
    padding-left: 28px;
    padding-bottom: 52px;
  }
}

#hero__text {
  position: absolute;
  top: 40%;
  right: 2%;
  font-family: monospace;
  font-size: 12px;
  @include mobile {
    right: 10%;
    font-size: 12px;
  }
  @include tablet {
    font-size: 20px;
    right: 2%;
  }
  @include desktop {
    font-size: 28px;
    right: 10%;
  }
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid black;
  animation: typing 4s steps(10, end), blink-caret, 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffff;
  }
}

.hero__information {
  padding: 10px;
  color: #ffffff;
  width: 200px;
  height: 150px;
  @include tablet {
    width: 430px;
    height: 190px;
    padding: 24px;
  }
  background-color: #0f3f3c;
  border-radius: 16px;
}

.hero__information--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.25px;
  margin-bottom: 8px;
  @include tablet {
    font-size: 32px;
  }
}

.hero__information--text {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  @include tablet {
    font-size: 16px;
  }
}

.anchor {
  display: none;
  @include tablet {
    z-index: 3;
    position: fixed;
    display: flex;
    right: 30px;
    bottom: 120px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #d7f463;
    border: none;
    letter-spacing: 0.06em;
    line-height: 1.88;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #9c6fe2;
    }
  }
}

.page-footer__logo,
.header__logo {
  width: 24px;
  height: 24px;
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
